git
git.pub
BeeperTexts/
chromium/
discord/
Discord/
eza/
Electron/
Equicord/MessageLogger/Data/
git/
nvim/
omarchy/
protonfixes/
spotify/
TeamSpeak/
Typora/
uwsm/env-secrets
UmbrelCore/
chromium-flagsbkup.conf
omarchy.ttf
