*.md
.vscode/
.zed/
git
git.pub
.crush
.ropeproject
.config/BeeperTexts/
.config/chromium/
.config/discord/
.config/Discord/
.config/eza/
.config/Electron/
.config/Equicord/MessageLogger/Data/
.config/git/
.config/hypr/
.config/nvim/
.config/omarchy/
.config/protonfixes/
.config/spotify/
.config/TeamSpeak/
.config/Typora/
.config/uwsm/env-secrets
.config/UmbrelCore/
.config/chromium-flagsbkup.conf
.config/omarchy.ttf
